@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

:root {
  --background-color: #fef9f6;
  --dark-white: #f1ece8;
  --dark-blue: #89B2CC;
  --blue: #9FCEEC;
  --ultra-light-blue: #cdecff;
  --black: #222222;
  --grey: #585047;
  --light-grey: #AEA9A3;
  --ultra-light-grey: #EEE6DE;
  --orange: #FFA161;
  --light-orange: #F9CBAC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

/* ----------------Background Styling------------- */
.page-container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 1440px) {
  .page-container {
    overflow-x: hidden;
  }
}

.lower-left-circle {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 45vw;
}

.right-middle-circle {
  position: fixed;
  right: -30vw;
  bottom: -30vh;
  font-size: 85vw;
}

.lower-right-polygon {
  position: fixed;
  right: -10vw;
  bottom: -25vh;
  font-size: 65vw;
}

.upper-circle {
  position: fixed;
  left: -15vw;
  top: -15vh;
  font-size: 45vw;
  transition: 1s ease;
}

svg {
  z-index: -1;
}



@media screen and (max-width: 940px) {
  body {
    height: 100%;
    overflow-y: scroll;
  }

  .lower-left-circle {
    font-size: 65vw;
  }

  .right-middle-circle {
    font-size: 85vw;
    opacity: 0.9;
  }

  .lower-right-polygon {
    font-size: 65vw;
  }

  .upper-circle {
    font-size: 65vw;
  }
}

@media screen and (max-width: 700px) {
  .lower-left-circle {
    font-size: 75vw;
    opacity: 0.8;
  }

  .right-middle-circle {
    font-size: 105vw;

  }

  .lower-right-polygon {
    font-size: 125vw;
  }

  .upper-circle {
    font-size: 95vw;
    opacity: 0.8;
  }
}